main {
    section {
        .div-proximos-shows {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            background-color: gray;
            opacity: 80%;
            border-radius: 40px;


            .h2-shows {
                font-size: 30px;
                color: white;
                font-family: 'Oswald', sans-serif;
                font-weight: 300;

                @media only screen and (min-width:451px)and (max-width:960px) {
                    font-size: 40px;
                    color: white;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 300;
                }

                @media only screen and (max-width:450px) {
                    font-size: 20px;
                    color: white;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 300;
                }
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                background-color: gray;
                opacity: 80%;
                border-radius: 40px;
                margin-left: 10px;
                margin-right: 10px;
            }

            @media only screen and (max-width:450px) {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                background-color: gray;
                opacity: 80%;
                border-radius: 40px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }




        .show-elpolaco {
            .div-titulo-polaco {
                display: flex;
                margin-top: 50px;
                margin-left: 50px;

                .titulo-polaco {
                    color: white;
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: overline;

                    &:hover {
                        transform: scale(1.3);
                        transition: all 1.5s;
                        color: yellow;
                    }

                    @media only screen and (min-width:451px)and (max-width:960px) {
                        color: white;
                        font-size: 30px;
                        font-weight: 400;
                        margin-right: 10px;
                        margin-left: 20px;
                        text-decoration: overline;
                        margin-bottom: 20px;
                        margin-top: 30px;
                    }

                    @media only screen and (max-width:450px) {
                        color: white;
                        font-size: 15px;
                        font-weight: 400;
                        margin-right: 10px;
                        margin-left: 20px;
                        text-decoration: overline;
                    }
                }

                @media only screen and (min-width:451px)and (max-width:960px) {
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: overline;
                    margin-bottom: 20px;
                    margin-top: 70px;
                    margin-left: 20px;
                }

                @media only screen and (max-width:450px) {
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: overline;
                    margin-bottom: 20px;
                    margin-top: 70px;
                    margin-left: 20px;
                }
            }

            .div-imagen-polaco {
                margin-top: 30px;
                background-color: black;
                opacity: 70%;
                margin-left: 40px;
                margin-right: 40px;

                .imagen-polaco {
                    width: 50%;
                }
            }

            .div-parrafo-polaco {
                width: 20%;
                position: absolute;
                margin-top: -300px;
                margin-left: 1050px;

                .parrafo-polaco {
                    font-size: 20px;
                    color: white;

                    @media only screen and (min-width:451px)and (max-width:960px) {
                        font-size: 20px;
                        color: white;
                        margin-left: 15px;
                        margin-right: 30px;
                    }

                    @media only screen and (max-width:450px) {
                        font-size: 10px;
                        color: white;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

                @media only screen and (min-width:451px)and (max-width:960px) {
                    width: 100%;
                    margin-top: 0px;
                    margin-left: 15px;
                    margin-right: 30px;
                }

                @media only screen and (max-width:450px) {
                    width: 100%;
                    margin-top: 0px;
                    margin-left: 15px;
                    margin-right: 15px;
                }

            }


        }

        .div-titulo-damasgratis {
            display: flex;
            justify-content: end;
            margin-top: 50px;

            .titulo-damasgratis {
                color: white;
                font-size: 25px;
                font-weight: 400;
                margin-right: 50px;
                text-decoration: overline;

                &:hover {
                    transform: scale(1.3);
                    transition: all 1.5s;
                    color: yellow;
                }
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                color: white;
                font-size: 30px;
                font-weight: 400;
                margin-right: 10px;
                margin-left: 20px;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 30px;
            }

            @media only screen and (max-width:450px) {
                color: white;
                display: flex;
                justify-content: center;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 70px;
                margin-left: 20px;
            }
        }

        .div-imagen-damasgratis {
            margin-top: 30px;
            background-color: black;
            opacity: 70%;
            margin-left: 40px;
            margin-right: 40px;
            display: flex;
            justify-content: end;

            .imagen-damasgratis {
                width: 50%;
            }
        }

        .div-parrafo-damasgratis {
            width: 20%;
            position: absolute;
            margin-top: -300px;
            margin-left: 35px;

            .parrafo-damasgratis {
                font-size: 20px;
                color: white;

                @media only screen and (min-width:451px)and (max-width:960px) {
                    font-size: 20px;
                    color: white;
                    margin-left: 15px;
                    margin-right: 30px;
                }

                @media only screen and (max-width:450px) {
                    font-size: 10px;
                    color: white;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                width: 100%;
                margin-top: 0px;
                margin-left: 30px;
            }

            @media only screen and (max-width:450px) {
                width: 100%;
                margin-top: 0px;
                margin-left: 15px;

            }
        }


        .div-titulo-karina {
            display: flex;
            margin-top: 50px;
            margin-left: 50px;

            .titulo-karina {
                color: white;
                font-size: 25px;
                font-weight: 400;
                text-decoration: overline;

                &:hover {
                    transform: scale(1.3);
                    transition: all 1.5s;
                    color: yellow;
                }

                @media only screen and (min-width:451px)and (max-width:960px) {
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                    margin-right: 10px;
                    margin-left: 20px;
                    text-decoration: overline;
                    margin-bottom: 20px;
                    margin-top: 30px;
                }

                @media only screen and (max-width:450px) {
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: overline;
                    margin-bottom: 20px;
                    margin-top: 70px;
                    margin-left: 20px;
                }
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                color: white;
                display: flex;
                justify-content: center;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 70px;
                margin-left: 20px;
            }

            @media only screen and (max-width:450px) {
                color: white;
                display: flex;
                justify-content: center;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 70px;
                margin-left: 20px;
            }
        }

        .div-imagen-karina {
            margin-top: 30px;
            background-color: black;
            opacity: 70%;
            margin-left: 40px;
            margin-right: 40px;

            .imagen-karina {
                width: 50%;
            }
        }

        .div-parrafo-karina {
            width: 20%;
            position: absolute;
            margin-top: -290px;
            margin-left: 1050px;

            .parrafo-karina {
                font-size: 20px;
                color: white;

                @media only screen and (min-width:451px)and (max-width:960px) {
                    font-size: 20px;
                    color: white;
                    margin-left: 15px;
                    margin-right: 30px;
                }

                @media only screen and (max-width:450px) {
                    font-size: 10px;
                    color: white;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                width: 100%;
                margin-top: 0px;
                margin-left: 15px;
                margin-right: 30px;
            }

            @media only screen and (max-width:450px) {
                width: 100%;
                margin-top: 0px;
                margin-left: 15px;

            }
        }



    }


    .div-titulo-callejero {
        display: flex;
        justify-content: end;
        margin-top: 50px;

        .titulo-callejero {
            color: white;
            font-size: 25px;
            font-weight: 400;
            margin-right: 50px;
            text-decoration: overline;

            &:hover {
                transform: scale(1.3);
                transition: all 1.5s;
                color: yellow;
            }

            @media only screen and (min-width:451px)and (max-width:960px) {
                color: white;
                font-size: 30px;
                font-weight: 400;
                margin-right: 10px;
                margin-left: 20px;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 30px;
            }

            @media only screen and (max-width:450px) {
                color: white;
                display: flex;
                justify-content: center;
                text-decoration: overline;
                margin-bottom: 20px;
                margin-top: 70px;
                margin-left: 20px;
            }
        }

        @media only screen and (min-width:451px)and (max-width:960px) {
            color: white;
            display: flex;
            justify-content: center;
            text-decoration: overline;
            margin-bottom: 20px;
            margin-top: 70px;
            margin-left: 20px;
        }

        @media only screen and (max-width:450px) {
            color: white;
            display: flex;
            justify-content: center;
            text-decoration: overline;
            margin-bottom: 20px;
            margin-top: 70px;
            margin-left: 20px;
        }
    }

    .div-imagen-callejero {
        margin-top: 30px;
        background-color: black;
        opacity: 70%;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: end;
        margin-bottom: 50px;

        .imagen-callejero {
            width: 50%;
        }

        @media only screen and (min-width:451px)and (max-width:960px) {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: black;
            opacity: 70%;
            margin-left: 20px;
            display: flex;
            justify-content: end;
        }

        @media only screen and (max-width:450px) {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: black;
            opacity: 70%;
            margin-left: 20px;
            display: flex;
            justify-content: end;
        }
    }

    .div-parrafo-callejero {
        width: 20%;
        position: absolute;
        margin-top: -300px;
        margin-left: 35px;

        .parrafo-callejero {
            font-size: 20px;
            color: white;

            @media only screen and (min-width:451px)and (max-width:960px) {
                font-size: 20px;
                margin-top: -100px;
                color: white;
            }

            @media only screen and (max-width:450px) {
                font-size: 10px;
                margin-top: -100px;
                color: white;
            }
        }

        @media only screen and (min-width:451px)and (max-width:960px) {
            width: 100%;
            margin-top: 30px;
            margin-left: 15px;
            margin-right: 30px;
        }

        @media only screen and (max-width:450px) {
            width: 100%;
            margin-top: 30px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }



}