.body {
    background-image: url(.././multimedia/fondo-2.jpg);
    height: 100vh;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    
}

* {

    margin: 0;
    padding: 0;
}

p{
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
